<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>pe.com.core.test.CategoriaTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>d_listar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>b_actualizar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>a_insertar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>c_obtener</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>e_eliminar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>inicioClase</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>finClase</td>
<td>&nbsp;</td></tr>
</table>
