<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>VisorTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="676ef5">  <td>17/05/11 14:31:51</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CategoriaTest.inicioMetodo()[pri:0, instance:pe.com.core.test.CategoriaTest@8078c]">&gt;&gt;inicioMetodo</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6293499</td>   <td></td> </tr>
<tr bgcolor="676ef5">  <td>17/05/11 14:31:51</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CategoriaTest.inicioClase()[pri:0, instance:pe.com.core.test.CategoriaTest@8078c]">&gt;&gt;inicioClase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6293499</td>   <td></td> </tr>
<tr bgcolor="676ef5">  <td>17/05/11 14:31:51</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoriaTest.a_insertar()[pri:0, instance:pe.com.core.test.CategoriaTest@8078c]">a_insertar</td> 
  <td>main@6293499</td>   <td></td> </tr>
<tr bgcolor="676ef5">  <td>17/05/11 14:31:52</td>   <td>526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoriaTest.b_actualizar()[pri:0, instance:pe.com.core.test.CategoriaTest@8078c]">b_actualizar</td> 
  <td>main@6293499</td>   <td></td> </tr>
<tr bgcolor="676ef5">  <td>17/05/11 14:31:52</td>   <td>580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoriaTest.c_obtener()[pri:0, instance:pe.com.core.test.CategoriaTest@8078c]">c_obtener</td> 
  <td>main@6293499</td>   <td></td> </tr>
<tr bgcolor="676ef5">  <td>17/05/11 14:31:52</td>   <td>594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoriaTest.d_listar()[pri:0, instance:pe.com.core.test.CategoriaTest@8078c]">d_listar</td> 
  <td>main@6293499</td>   <td></td> </tr>
<tr bgcolor="676ef5">  <td>17/05/11 14:31:52</td>   <td>619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoriaTest.e_eliminar()[pri:0, instance:pe.com.core.test.CategoriaTest@8078c]">e_eliminar</td> 
  <td>main@6293499</td>   <td></td> </tr>
<tr bgcolor="676ef5">  <td>17/05/11 14:31:52</td>   <td>653</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CategoriaTest.finClase()[pri:0, instance:pe.com.core.test.CategoriaTest@8078c]">&lt;&lt;finClase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6293499</td>   <td></td> </tr>
<tr bgcolor="676ef5">  <td>17/05/11 14:31:52</td>   <td>653</td> <td>&nbsp;</td><td title="&lt;&lt;CategoriaTest.finMetodo()[pri:0, instance:pe.com.core.test.CategoriaTest@8078c]">&lt;&lt;finMetodo</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6293499</td>   <td></td> </tr>
</table>
