<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>VisorTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fcfece">  <td>17/05/11 14:59:12</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CategoriaWebDriverTest.setUp()[pri:0, instance:pe.com.test.seleniumwd.CategoriaWebDriverTest@19d1a19]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3768023</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/05/11 14:59:17</td>   <td>5239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoriaWebDriverTest.insertarCategoria_FlujoBasico()[pri:0, instance:pe.com.test.seleniumwd.CategoriaWebDriverTest@19d1a19]">insertarCategoria_FlujoBasico</td> 
  <td>main@3768023</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/05/11 14:59:35</td>   <td>22981</td> <td>&nbsp;</td><td title="&lt;&lt;CategoriaWebDriverTest.tearDown()[pri:0, instance:pe.com.test.seleniumwd.CategoriaWebDriverTest@19d1a19]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3768023</td>   <td></td> </tr>
</table>
